@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

.main .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: #A2D2FF;
}

.main .navbar ul {
    display: flex;
    gap: 2rem;
}

.main .navbar ul li a {
    font-size: 1.1rem;
    font-weight: 700;
    color: #4B5D67;
    transition: .5s ease;
}

.main .navbar ul li a:hover {
    color: #1ea4ec;
}

.main #menu {
    position: fixed;
    top: .8rem;
    right: 1rem;
    background: #4B5D67;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    z-index: 1000;
    display: none;
}

.main .home-section {
    padding-top: 4rem;
    height: 100vh;
    background-image: url(homebackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.main .home-section h1 {
    height: 20px;
    padding-top: 1.5rem;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px #000000;
}

.main .account-section {
    padding-top: 10px;
    height: 100vh;
    background-color: #fccc6b;
    text-align: center;
}

.main .account-section h1 {
    margin-left: 100px;
    text-align: center;
    width: 160px;
    border-radius: 20px;
    height: 50px;
    background-color: #000000;
    color: #fff;

}

.main .account-section h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin-top: 2rem;
}

.main header {
    margin-top: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #A2D2FF;
    display: none;

}

.main .menu .menu-box {
    display: flex;
    margin: 50px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 300px;

}

.main .menu .menu-box ul li {

    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 700;
}

.main .menu .menu-box ul li a {
    color: #4B5D67;
    transition: .5s ease;
}

.main .account-section .info {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}
.main .account-section .info h3{
   font-size: 40px;
}

.main .grade-section {
    height: 100vh;
}

.main .grade-section .grade-title {
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    width: 160px;
    border-radius: 20px;
    height: 50px;
    background-color: #000000;
    color: #fff;

}

.main .grade-section .grade-box {
    
    margin-top: 30px;
    
    display: grid;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    margin-inline: 50px;
}

.main .grade-section .grade-box .box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border:solid #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.main .grade-section .grade-box .box h3 {
    border-bottom: solid black;
}
.main .grade-section .grade-box .box h2 {
    margin-top: 30px;
}
.main .grade-section .grade-box .box .score {
    margin-top: 20px;
    font-size: 60px;
}
.main .schedule-section{
    height: 100vh;
    background-color: rgb(235, 231, 231);
}
.main .schedule-section .schedule-box{
    margin-inline: 50px;
    display: grid;
    margin-top:20px;
    padding-top: 30px;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    
}
.main .schedule-section .schedule-box .schedbox{
    background-color: #000000;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.main .schedule-section h1{
margin-top: 60px;
margin-left: 100px;
text-align: center;
width: 160px;
border-radius: 20px;
height: 50px;
background-color: #000000;
color: #fff;

}
.main .schedule-section .schedule-box h1{
    margin-top: 30px;
    margin-left: 70px;
}
.main .schedule-section .schedule-box h2{
    margin-top: 10px;
}
.main .schedule-section .schedule-box h3{
    margin-top: 20px;
}
.main .menu .menu-box ul li form .menu-button{
    font-weight: 700;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    
    background-image: linear-gradient(to right top, #1c4687, #17386c, #112a52, #0c1c3a, #060e23);
    transition: all 2s ease-in;
}
.main .navbar form .navbar-button {
    font-weight: 700;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 50px;
    background-image: linear-gradient(to right top, #1c4687, #17386c, #112a52, #0c1c3a, #060e23);
    transition: all 2s ease-in;
}

.main .menu .menu-box ul li form .menu-button:hover{
    background-image: linear-gradient(to right top, #457cd0, #be72cf, #ff69a1, #ff885e, #ffc015);
}

 
@media(max-width: 75rem) {
    .main #menu {
        display: block;
    }

    .main .navbar ul {
        display: none;
    }

    header.toggle {
        display: block;
    }

    .main .home-section h1 {
        font-size: 35px;

    }
    .main .navbar form .navbar-button {
        display: none;
    }
}

@media (max-width:400px) {
    .main .home-section h1 {
        font-size: 20px;

    }

    .main .account-section .info {
        display: grid;
        row-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        
    }
    .main .account-section .info h3{
     font-size: 20px;   
    }
    .main .account-section h3 {
        font-size: 20px;
    }

    .main .grade-section .grade-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    }
    .main .schedule-section .schedule-box{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:300px 300px 300px 300px 300px 300px 300px 300px;
    }
    .main .schedule-section .schedule-box .h{
        margin: 0;
        margin-left: 60px;
        margin-top: 20px;
        text-align: center;
    }
 
}