.main .signup-section{
    padding-top:100px ;
    
}
.main .signup-section .signup-box{
    display: grid; 
    grid-template-columns:50% 1fr;
    
    margin: auto;
    width: 60%;
    height: 20rem;
    
}
.main .signup-section .signup-box .inputs{
    
    display: grid;
    grid-template-rows: 35% 1fr;
    
    
}   

.main .signup-section .signup-box .image-box{
    
    background-image: url(register-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    
    }   
    

.main .signup-section .signup-box .inputs .logo{
    
    background-color: rgb(100, 196, 255);
    border-radius: 0 10px 0 0;
    
}   
.main .signup-section .signup-box .inputs .logo h2{
    
    text-align: center;
}
.main .signup-section .signup-box .inputs .logo .warning{
    width: 100%;
    min-height: 100px; 
}   

.main .signup-section .signup-box .inputs .input-container{
    border-radius: 0 0 10px 0;
    background-color: white;
    

} 
.main .signup-section .signup-box .inputs .input-container input{
    
    display: grid;
    width: 97%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: none;
    background-color:rgb(249, 240, 222) ;
} 
.main .signup-section .signup-box .inputs .input-container button{
    padding-top: 8px;
    display: grid;
    width: 80%;
    height: 30px;
    margin-inline: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: black;
}  
.main .signup-section .signup-box .inputs .input-container button:hover{
    
    background-color:rgb(85, 212, 255);
}
